$color1: rgb(60, 85, 166);
$color2: rgb(35, 32, 37);
$color3: #f39f7b;
$color4: rgb(8, 2, 56);
$color5: rgb(96, 185, 96);
$color6: rgb(247, 91, 221);
@mixin centrado {
    justify-content: center;
    align-items: center;
    display: flex;
}

.containerDatos {
    z-index: 10;
    width: 100%;
    position: fixed;
    height: calc(100% - 80px);
    margin-top: 80px;
    overflow-y: auto;
    @include centrado();
    background-color: $color4;
    color: white;
    .subContainerDatos {
        width: 90%;
        @include centrado();
        .alignDatos {
            width: 95%;
            margin: 0 auto;
            .row {
                width: 100%;
                height: 35px;
                margin-top: 4px;
                .contInfoData {
                    float: left;
                    text-align: center;
                    @include centrado();
                }
                .contInfoData5 {
                    width: 20%;
                    height: 100%;
                    float: left;
                    text-align: center;
                    @include centrado();
                    p {
                        cursor: pointer;
                    }
                }
                .contInfoData3 {
                    width: 33.3333%;
                    float: left;
                    height: 100%;
                    text-align: center;
                    @include centrado();
                    p {
                        cursor: pointer;
                    }
                }
                .infoT {
                    background-color: $color6;
                    color: white;
                }
                .infoInput {
                    width: 30px;
                    float: left;
                    height: 80%;
                    border: none;
                }
                .btnInput {
                    width: 60%;
                    border: none;
                    float: left;
                    background-color: $color5;
                    font-size: 19px;
                    color: white;
                    height: 30px;
                    cursor: pointer;
                }
            }
            .contFilter {
                width: 100%;
                margin-top: 30px;
                text-align: center;
                .contTiFiler {
                    width: 100%;
                    h1 {
                        font-size: 30px;
                        color: $color6;
                        margin-bottom: 10px;
                    }
                }
                label,
                input {
                    margin-left: 10px;
                    display: inline;
                    width: 60px;
                    input {
                        margin-left: 0px
                    }
                }
            }
        }
    }
}

.coverAdminIndex {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    @include centrado();
    background-color: $color4;
    .contCover {
        width: 60%;
        background-color: rgba($color: $color6, $alpha: 1);
        text-align: center;
        border-radius: 20px;
        h1 {
            font-size: calc(40px);
            color: white;
            margin-top: 20px;
        }
        .subTittle {
            font-size: 15px;
            margin-bottom: 10px;
        }
        .contInput {
            width: 80%;
            margin: 0 auto;
            height: 40px;
            margin-bottom: 10px;
            @include centrado();
            button {
                width: 30%;
                float: left;
                display: inline;
                border: none;
                height: 100%;
                border: 1.3px solid $color4;
                cursor: pointer;
                transition: 0.4s;
                color: $color4;
                margin: 2px;
                background-color: $color4;
                color: white;
                font-size: 20px;
                &:hover {
                    letter-spacing: 2px;
                }
            }
        }
    }
}