body {
    background: #000;
}

$glow: rgb(69, 201, 206);
@mixin centrado {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cover {
    width: 100%;
    height: 100%;
    .leftCover {
        width: 100%;
        height: 60vh;
        float: left;
        @include centrado;
        .conInfo {
            width: 100%;
            .circle {
                position: absolute;
                width: calc(30vw);
                height: calc(30vw);
                border-radius: 50%;
                z-index: 9;
                margin-left: 50%;
                transform: translateX(-50%);
                box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(69, 201, 206), inset -20px 0 80px #f0f, inset 20px 0 300px #f0f, inset -20px 0 300px $glow, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px lightgreen;
            }
            img {
                position: absolute;
                width: 32vh;
                z-index: 10;
                margin-left: 50%;
                transform: translate(-50%, calc(-5vh));
            }
        }
    }
    .rightCover {
        width: 100%;
        height: 40vh;
        float: left;
        .conInfo {
            width: 90%;
            margin: 0 auto;
            .tittle {
                color: white;
                display: block;
                font-family: sans-serif;
                font-size: 30px;
                letter-spacing: -1px;
                font-weight: 500;
                transform: translateY(calc(-1vh));
                text-shadow: 0 0 10px $glow;
            }
            .subtittle {
                text-align: right;
                color: white;
                font-size: 18px;
                font-family: sans-serif;
            }
            i {
                color: white;
                transform: rotate(-90deg);
                margin-top: 10px;
                text-align: right;
            }
        }
    }
    @media screen and (min-width:992px) {
        .leftCover {
            position: relative;
            width: 40%;
            height: 100vh;
            float: left;
            @include centrado();
            .conInfo {
                width: 100%;
                background-color: red;
                .circle {
                    width: calc(30vh);
                    height: calc(30vh);
                }
                img {
                    width: calc(80%);
                    margin-top: calc(-3vh);
                }
            }
        }
        .rightCover {
            width: 60%;
            height: 100vh;
            @include centrado();
            float: left;
            .conInfo {
                text-align: left;
                width: 80%;
                .tittle {
                    font-size: calc(20px + 6vh);
                }
                .subtittle {
                    text-align: left;
                    font-size: calc(20px + 1vh);
                }
            }
        }
    }
}