$color1: rgb(60, 85, 166);
$color2: rgb(35, 32, 37);
$color3: #f39f7b;
$color4: rgb(8, 2, 56);
$color5: rgb(96, 185, 96);
$color6: rgb(247, 91, 221);
@mixin centrado() {
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    background-color: $color4;
    color: white;
}

.contP {
    width: 100%;
    margin-top: 80px;
    .formNPass,
    .formNWifi {
        width: 90%;
        margin: 0 auto;
        h1 {
            margin-top: 20px;
            font-size: 35px;
            display: block;
            span {
                font-size: 25px;
                display: block;
                color: $color6;
            }
        }
        h3 {
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 30px;
            text-align: left;
        }
        span {
            color: white;
        }
        input {
            display: block;
            color: white;
        }
        span {
            font-weight: 400;
            &.error {
                color: rgb(240, 86, 86);
            }
        }
        .inputTxt {
            width: 100%;
            border: none;
            border-bottom: 1.3px solid $color6;
            margin-top: 10px;
            margin-bottom: 15px;
            height: 30px;
            background-color: transparent;
        }
        .btnAct {
            cursor: pointer;
            width: 100%;
            height: 40px;
            font-size: 22px;
            background-color: $color6;
            box-shadow: 0 0 5px 1px $color6;
            border: none;
            color: white;
            border: none;
            transition: 0.3s;
            margin-bottom: 20px;
            &:hover {
                letter-spacing: 2px;
            }
        }
    }
    .btnRegis {
        background-color: white;
        color: $color6;
        width: 40%;
        border: none;
        margin-top: 10px;
        height: 30px;
        font-size: 18px;
        display: inline;
        border: 1px solid white;
        cursor: pointer;
    }
    .atras {
        background-color: transparent;
        color: $color6;
        width: 20%;
        border: none;
        margin-top: 10px;
        height: 30px;
        font-size: 18px;
        display: inline;
        border: 1px solid white;
        cursor: pointer;
    }
    @media screen and(min-width:992px) {
        width: 40%;
        margin-top: 80px;
        margin-left: 50px;
    }
}

#particles-js {
    width: 100%;
    height: 0vh;
    position: fixed;
    z-index: 990;
    overflow: hidden;
    //height: 0;
}

@media screen and(min-width:992px) {
    #particles-js {
        width: 40%;
        height: 70vh;
        top: 15vh;
        right: 5%;
        position: fixed;
        z-index: 990;
    }
}