$color1: rgb(60, 85, 166);
$color2: rgb(35, 32, 37);
$color3: rgb(243, 159, 123);
$color4: rgb(8, 2, 56);
$color5: rgb(247, 91, 221);
body {
    background-color: rgba($color: $color4, $alpha: 1);
}

@mixin centrado() {
    justify-content: center;
    align-items: center;
    display: flex;
}

#particles-js {
    position: absolute;
    width: 100%;
    margin-top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    z-index: 10;
    @media screen and(min-width: 992px) {
        float: right;
        right: 0;
        width: 50%;
    }
}

.cover {
    width: 100%;
    height: 100vh;
    @include centrado();
    z-index: 11;
    position: absolute;
    .contCover {
        width: 90%;
        color: white;
        text-align: center;
        background-color: rgba($color: $color4, $alpha: 1);
        .tittleCover {
            text-transform: uppercase;
            font-size: 70px;
            margin-top: 50px;
            font-weight: 700;
        }
        .subTittle {
            font-size: 17px;
        }
        .botones {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            .btn {
                cursor: pointer;
                width: 45%;
                height: 40px;
                @include centrado();
                border-radius: 5px;
                margin-bottom: 50px;
                transition: 0.3s;
                &.btn1 {
                    border: 1.4px solid #fff;
                    color: white;
                    float: left;
                    margin-left: 2.5%;
                }
                &.btn2 {
                    background-color: #fff;
                    color: $color4;
                    float: right;
                    margin-right: 2.5%;
                }
                &:hover {
                    letter-spacing: 2px;
                }
            }
        }
    }
    @media screen and (min-width:992px) {
        width: 50%;
        margin-left: 20px;
        .contCover {
            width: 86%;
            text-align: left;
            .tittleCover {
                font-size: calc(90px + 8vh);
                line-height: calc(90px + 5vh);
                font-weight: 700;
                letter-spacing: -3px;
                color: $color5;
            }
            .subTittle {
                font-size: calc(20px + 2vh);
            }
            .botones {
                .btn {
                    width: 40%;
                    border-radius: 0px;
                    height: calc(20px + 3vh);
                    font-size: calc(14px + 1vh);
                    ;
                    &.btn1 {
                        border: 1.4px solid white;
                        color: white;
                        float: left;
                        margin: 0%;
                    }
                    &.btn2 {
                        background-color: white;
                        border: 1.4px solid white;
                        color: $color4;
                        float: left;
                        margin: 0%;
                    }
                }
            }
        }
    }
}