* {
    padding: 0;
    margin: 0;
}

p,
button,
input,
span,
h1,
h2,
textarea {
    font-family: sans-serif;
}

@mixin centrado() {
    justify-content: center;
    align-items: center;
    display: flex;
}