$color1: rgb(60, 85, 166);
$color2: rgb(35, 32, 37);
$color3: rgb(243, 159, 123);
$color4: rgb(8, 2, 56);
@mixin centrado() {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $color1, $alpha: 0.4);
    background-size: cover;
    background-image: url("../medias/bgk3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    .leftCover {
        width: 100%;
        height: 0%;
        /*
        background-size: cover;
        background-image: url("../medias/profesional3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        */
        transform: rotate(180deg);
    }
    .rightCover {
        width: 100%;
        height: 100vh;
        @include centrado();
        form {
            text-align: left;
            width: 90%;
            input,
            label {
                display: block;
            }
            .tittleFormReg {
                font-size: calc(20px + 7vh);
                line-height: calc(20px + 5vh);
                font-weight: 600;
                color: white;
            }
            label {
                margin-top: 8px;
                color: rgba(255, 255, 255, 1);
                transition: 0.3s;
                &.error {
                    color: rgb(240, 86, 86);
                }
            }
            input {
                width: 100%;
                border: none;
                height: 25px;
            }
            .registrar {
                background-color: $color3;
                height: 40px;
                margin-top: 10px;
                color: white;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: capitalize;
                border-radius: 5px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    letter-spacing: 2.5px;
                }
            }
        }
    }
    @media screen and(min-width:992px) {
        .leftCover {
            width: 50%;
            height: 100%;
            float: right;
        }
        .rightCover {
            width: 50%;
            height: 100vh;
            float: left;
            form {
                width: 80%;
                input {
                    margin-top: 10px;
                }
            }
        }
    }
}