body {
  background-color: #080238;
}

.cover {
  width: 100%;
}
.cover .leftCover {
  width: 100%;
  height: 0%;
  /*
  background-size: cover;
  background-image: url("../medias/profesional3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  */
  transform: rotate(180deg);
}
.cover .rightCover {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cover .rightCover form {
  text-align: left;
  width: 90%;
}
.cover .rightCover form input,
.cover .rightCover form label {
  display: block;
}
.cover .rightCover form .tittleFormReg {
  font-size: calc(20px + 7vh);
  line-height: calc(20px + 5vh);
  font-weight: 600;
  color: white;
  margin-top: 40px;
}
.cover .rightCover form label {
  margin-top: 10px;
  color: white;
  transition: 0.3s;
}
.cover .rightCover form label.error {
  color: #f05656;
}
.cover .rightCover form input {
  width: 100%;
  border: none;
  height: 25px;
  border-bottom: 1.3px solid #f75bdd;
  color: white;
  font-weight: 400;
}
.cover .rightCover form input.inputData {
  background-color: transparent;
  background: linear-gradient(to top, rgba(247, 91, 221, 0.5), #080238, #080238, #080238);
}
.cover .rightCover form .registrar {
  background-color: #f75bdd;
  height: 40px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 40px;
}
.cover .rightCover form .registrar:hover {
  letter-spacing: 2.5px;
}
@media screen and (min-width: 992px) {
  .cover .leftCover {
    width: 50%;
    height: 100%;
    float: right;
  }
  .cover .rightCover {
    width: 50%;
    height: 100vh;
    float: left;
  }
  .cover .rightCover form {
    width: 80%;
  }
  .cover .rightCover form input {
    margin-top: 10px;
  }
  .cover .rightCover form .registrar {
    width: 50%;
    float: right;
  }
}

.modalRegistrado {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition-delay: 0.3s;
  transition: 0.7s;
  background-color: rgba(8, 2, 56, 0.8);
}
.modalRegistrado .contModal {
  width: 90%;
  height: 80%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}
.modalRegistrado .contModal form {
  width: 90%;
  text-align: center;
}
.modalRegistrado .contModal form .tittleModalReg {
  font-size: 45px;
  color: #b8b8b8;
}
.modalRegistrado .contModal form .subModalReg {
  font-size: 18px;
  color: #60b960;
}
.modalRegistrado .contModal form .btnModalReg {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  border: none;
  background-color: #60b960;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.modalRegistrado .contModal form .btnModalReg:hover {
  letter-spacing: 2px;
}
@media screen and (min-width: 992px) {
  .modalRegistrado .contModal {
    width: 60%;
    height: 40%;
  }
}

#particles-js {
  width: 100%;
  height: 0vh;
  position: fixed;
  z-index: 990;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  #particles-js {
    width: 40%;
    height: 70vh;
    top: 15vh;
    right: 5%;
    position: fixed;
    z-index: 990;
  }
}

/*# sourceMappingURL=register.css.map */
